name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  merge_group:
    types: [checks_requested]

permissions:
  contents: read

jobs:
  package-ci:
    uses: alextheman231/github-actions/.github/workflows/pnpm-ci.yml@970e50857adb8c4c02ca2004a8ff6198e3b962a2 # v7.2.2

  actions-ci:
    uses: alextheman231/github-actions/.github/workflows/actions-ci.yml@970e50857adb8c4c02ca2004a8ff6198e3b962a2 # v7.2.2
